/*
Angular Slideshow styles...
Named so as not to trample other style definitions.
*/

.AShow {
	white-space: nowrap;
	/* NOTE: do not apply width & height to this item */
}

.AShow .AShowSlide {
	position: absolute;
	background: rgb(250,250,250);
	border: 1px solid rgba(0,0,0, 0.1);
	box-sizing: border-box;
}
.AShow .AShowSlide.AShowPlaceholder {
	background: rgb(200,200,200);
}

.AShow .AShowSlides {
	display: none;
}

.AShow .AShowFrame {
	position: relative;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	border: 1px solid rgba(0,0,0, 0.1);
}

.AShow .AShowFrame .AShowSlideHolder {
	position: absolute;
	top: 0;
	left: 0;
	overflow: visible;
}


.AShow .AShowNav {
	visibility: hidden;
}

.AShow .AShowNav.AShowNavUp,
.AShow .AShowNav.AShowNavDown {
	display: block;
	text-align: center;
	margin: 0.5em 0;
}

.AShow .AShowNav.AShowNavLeft,
.AShow .AShowNav.AShowNavRight {
	display: inline-block;
	margin: 0 0.5em;
	vertical-align: middle;
}


.AShow .AShowNav.AShowNavUp {
}

.AShow .AShowNav.AShowNavDown {
}

.AShow .AShowNav.AShowNavLeft {
	text-align: right;
}

.AShow .AShowNav.AShowNavRight {
	text-align: left;
}

.AShow .AShowPageNumbers {
	display: block;
	text-align: center;
	margin: 0.5em;
}
.AShow .AShowPageNumbers .AShowPageNumber {
	margin: 1em 0.25em;
	padding: 0.1em 0.25em;
}
.AShow .AShowPageNumbers .AShowPageNumber.AShowCurrent {
	background: rgba(0,0,0, 0.1);
	border-radius: 0.25em;
}